server:
  port: 8000

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

spring:
  application:
    name: apigateway-service
  cloud:
    gateway:
      server:
        webflux:
          default-filters:
          - name: GlobalFilter
            args:
              baseMessage: Spring Cloud Gateway Global Filter
              preLogger: true
              postLogger: true
          routes:
          - id: first-service
            uri: lb://MY-FIRST-SERVICE
            predicates:
              - Path=/first-service/**
            filters:
#              - AddRequestHeader=f-request, first-requests-header2
#              - AddResponseHeader=f-response, first-response-header2
              - CustomFilter
          - id: second-service
            uri: lb://MY-SECOND-SERVICE
            predicates:
              - Path=/second-service/**
            filters:
#              - AddRequestHeader=s-request, second-requests-header2
#              - AddResponseHeader=s-response, second-response-header2
              - name: CustomFilter
              - name: LoggingFilter
                args:
                  baseMessage: Hi, there
                  preLogger: true
                  postLogger: true